.layout {
  height: 100%;
  view-transition-name: main-content;
  background-color: var(--background-200);
}

.inner {
  padding: 0 d(16);
}

.title {
  padding-top: d(40);
  font-size: 32px;
  font-weight: 700;
  color: var(--gray-1000);
  letter-spacing: -0.02em;
}

.levels {
  margin-top: d(24);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: d(16);
}

.levelItem {
  background-color: var(--background-100);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-1000);
  border: 1px solid var(--gray-400);
  height: d(96);
  border-radius: d(16);
  font-size: 24px;
  font-weight: 700;
}
