$body_height: calc(100% - $header_height);

.container {
  height: 100%;
  background-color: var(--background-200);
  view-transition-name: main-content;
  position: relative;
}

.header {
  position: relative;
  height: $header_height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: var(--background-200);
}

.closeButton {
  border: none;
  width: d(32);
  height: d(32);
  background: none;
  color: var(--gray-1000);
}

.progressSection {
  flex-grow: 1;
  max-width: 50%;
  position: relative;
  height: d(12);
}

.progressBarBackground {
  position: absolute;
  inset: 0;
  background: var(--gray-300);
  border-radius: 6px;
  overflow: hidden;
}

.progressBarFill {
  position: absolute;
  inset: 0;
  background: var(--gray-1000);
  border-radius: 6px;
  transform: translateX(calc(var(--current-progress, 0) * 100% - 100%));
  transition: transform 0.3s ease-out;
}

// 중앙 컨테이너
.contentContainer {
  position: relative;
  height: calc(100% - d(16));
}

.cardWrapper {
  position: absolute;
  inset: 0;
  margin: 0 d(32);
  height: calc($body_height - d(32));
}

.empty {
  background: var(--background-100);
  margin: 0 d(16);
  height: calc($body_height - d(32));
  border: 1px solid var(--gray-400);
  border-radius: d(16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .currentProgressSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: d(8);
    font-size: 20px;
    color: var(--gray-1000);
  }

  .ctaRow {
    width: 100%;
    padding-top: d(40);
    display: flex;
    justify-content: space-around;

    .cta {
      min-width: d(120);
      border-radius: 16px;
      border: none;
      font-size: 24px;
      font-weight: 700;
      padding: 8px 12px;
      background-color: var(--gray-1000);
      color: var(--background-100);
    }
  }
}
