.outer {
  position: relative;
  height: 100%;
  background: var(--background-100);
  border-radius: 12px;
  border: 1px solid #f3f4f6;
  padding: 32px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hintButton {
  border: none;
  position: absolute;
  bottom: d(16);
  right: d(16);
  background: none;
  cursor: pointer;
  color: var(--gray-1000);
}

.expressionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.expression {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  color: var(--gray-1000);
  transition: opacity 0.1s ease-out;
}

.furigana {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: var(--gray-1000);
}

.meaning {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  transition: opacity 0.1s ease-out;
  color: var(--gray-1000);
}
